In [10]:
## Lets import our requirements
import boto3
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import os
import sqlite3
parentDirectory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))

In [8]:
#parentDirectory
test = pd.read_csv(os.path.join(parentDirectory, 'listings_LACA.csv'))
test.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Other Cities,Culver City,33.98301,-118.38607,Entire home/apt,115,30,2,2016-05-15,0.01,1,227,0,NaN
1,2708,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,3008,Chas.,City of Los Angeles,Hollywood,34.09625,-118.34605,Private room,118,30,38,2022-11-29,0.37,2,239,5,NaN
2,2732,Zen Life at the Beach,3041,Yoga Priestess,Other Cities,Santa Monica,34.00440,-118.48095,Private room,179,7,24,2022-08-21,0.17,2,365,3,NaN
3,65467,A Luxury Home in Los Angeles,61864,Olivier,Other Cities,Culver City,34.02438,-118.38374,Private room,300,60,0,NaN,NaN,2,365,0,NaN
4,206662,"Hollywood & Hiking, 30 day minimum",33861,Kevin,City of Los Angeles,Hollywood Hills West,34.10420,-118.34748,Private room,46,30,95,2022-08-11,0.71,1,84,4,NaN

In [26]:
endpoint = 'drown-lankheet-murphy.cl85i2cd6lnd.us-east-2.rds.amazonaws.com'

# This is the default admin/root account. Leave this value as 'postgres':
user = 'postgres'

# This is the master password you set above:
password = 'Lankheet699'

## Do not change this value or rename this variable, it is used by the autograder below:
connection = create_engine(f'postgresql+psycopg2://{user}:{password}@{endpoint}/postgres', pool_recycle=3600);

In [11]:
conn = psycopg2.connect(
    host=endpoint,
    database="postgres",
    user="postgres",
    password="Lankheet699")

In [14]:
cur=conn.cursor()

In [20]:
cur.execute('select * from test')

In [21]:
cur.fetchall()

[(5, 'apple'), (20, 'bananna')]

In [27]:
test.to_sql('LATest',con=connection, if_exists='replace',index=False)
#test

438

In [29]:
conn.close()
connection.close()

AttributeError: 'Engine' object has no attribute 'close'